---
const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `

        query getHomeHeroContent {
            home(where: {id: "cl6ca77rodjh30bmim02bvi13"}) {
                primaryHeading
                subHeading
            }
        }
        
        `,
    }),
  })

const json = await response.json();
const homecontent = json.data;
---

<div class="hero is-medium is-white has-background">
    <img alt="Small tree on calm water" class="hero-background is-transparent" src="images/zen-taichi-tree.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="title is-1 is-spaced">
                        {homecontent.home.primaryHeading}
                    </h1>
                    <h2 class="subtitle is-5">
                        {homecontent.home.subHeading}
                    </h2>
                    <a href="/internal-arts">
                        <button class="button is-primary is-pulled-right">Discover More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .hero.has-background {
        position: relative;
        overflow: hidden;
    }

    .hero-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }

    .hero-background.is-transparent {
        opacity: 0.4;
    }

</style>