---

---

<section class="section has-background-primary">
    <div class="container">
        <h3 class="title is-size-4 has-text-white has-text-centered mb-6">Accredited by the following organisations</h3>

        <div class="columns is-multiline">
            <div class="column is-half-tablet is-one-third-desktop">

                <article class="media">
                    <figure class="media-left logo">
                        <p class="image">
                            <img id="logo" alt="Chinese text about chen xiow wang tai chi association set on image of globe" src="images/chen-style-xiaowang-logo.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="is-size-7">
                                <strong class="has-text-grey-light">GLOBAL</strong>    
                            </p>
                                <a href="http://www.cxwtjq.com/">
                                    <h4 class="is-size-6 has-text-white">Chen Xiaowang World Taijiquan Association</h4>
                                </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">

                <article class="media">
                    <figure class="media-left logo">
                        <p class="image">
                            <img id="logo" alt="British flag integrated into Yin Yang image with Chinese lettering about the UK martial arts" src="images/british-council-chinese-martial-arts.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="is-size-7">
                                <strong class="has-text-grey-light">BRITISH</strong>    
                            </p>
                                <a href="https://bccma.com/">
                                    <h4 class="is-size-6 has-text-white">British Council of the Chinese Martial Arts</h4>
                                </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">

                <article class="media">
                    <figure class="media-left logo">
                        <p class="image">
                            <img id="logo" alt="Chinese yin yang image representing balance of chi and tai chi union of great britain" src="images/tai-chi-union-of-great-britain.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="is-size-7">
                                <strong class="has-text-grey-light">BRITISH</strong>    
                            </p>
                                <a href="https://www.taichiunion.com/">
                                    <h4 class="is-size-6 has-text-white">Tai Chi Union of Great Britain</h4>
                                </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<style>
    #logo {
        height: 70px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figure.logo {
        width: 120px;
    }
</style>