---
import {parse} from 'node-html-parser';

const response = await fetch("https://api-eu-west-2.hygraph.com/v2/cl69huq4hdrg601t386sw5d49/master",
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `

        query getHomeSecondaryContent {
            home(where: {id: "cl6ca77rodjh30bmim02bvi13"}) {
                secondaryHeading
                secondaryContent {
                    html
                }
            }
        }

        `,
    }),
  })

const json = await response.json();
const homecontent = json.data;

let sndContent = parse(homecontent.home.secondaryContent.html)

---

<div class="section pb-4">
    <div class="container content">
          
            <h2 class="title is-size-3-mobile">{homecontent.home.secondaryHeading}</h2>
            {sndContent}
          
    </div>
</div>