---
import Layout from '../../../layouts/Layout.astro'
import Header from '../../../components/Header.astro'
import Breadcrumb from '../../../components/Breadcrumb.astro';

let title = "Qigong Practitioners Course";
let description = "Learn to instruct Qigong to a high standard with the CIAA";
let keywords = "qigong, chi kung, martial art, self defense, CIAA, Berkshire, Berks, Reading, Swallowfield, UK, united kingdom";
---

<Layout>
   
    <Header slot="header-content" title={title} description={description} keywords={keywords}/>

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
            <h1 class="title">Three-year Qigong Practitioners Course</h1>
            <p>Tutors: Karel & Eva Koskuba</p>
            <h2 class="title">Course Aim</h2>
            <ul>
                <li>to study Qigong in depth</li>
                <li>to enable practitioners to use Qigong as a therapy</li>
            </ul>
            <h2>Entry Requirements:</h2>
            <p>No prior qualifications required. Willingness to practice Qigong on a regular basis essential.</p>
            <p>Each year there will be a combination of workshops, individual lessons and residential weekends. Dates will be given later.</p>               
            <h2>Course Outline</h2>
            <p>During the course the students will:</p>
            <ul>
                <li>understand the concept of Qi, its different manifestations and its relation to the western medical view</li>
                <li>study several types of Qigong (from the enclosed list)</li>
                <li>study the principles of Qigong</li>
                <li>appreciate and learn to use the therapeutic aspects of Qigong practice</li>
                <li>understand the main principles of Traditional Chinese Medicine</li>
                <li>learn the main acupuncture/acupressure points</li>
            </ul>
            
            <p>At the completion of the course students will have gained both a practical and theoretical understanding of Qigong and its many aspects. Each course session will include both theoretical and practical work, with individual help given where needed.</p>
            
            <h3>Six Harmonies Qigong</h3>
            <p>Qigong is a special form of traditional Chinese soft exercises, which enable the participant's attention to be focused on all parts of the body. This kind of practice promotes cultivation of internal energy, creating harmony and balance between body and mind. The 'Six Harmonies' in the title are composed of Three External Harmonies, and Three Internal Harmonies. The External Harmonies refer to the coordination of the body, whereas the Internal Harmonies refer to the coordination of Yi (mind), Qi (breath or energy) and Li (strength). Some Qigong exercises are stationary positions concentrating on breath and the abdominal area. They combine breathing with meditation and relaxation. There are also other Qigong exercises which are performed as a series of slow, continuous movements, outwardly similar to Taiji, but done solely for their health benefits.</p>
            <ul>
                <li><b>Baduanjin</b> - "The eight pieces of Brocade" is a health-giving exercise, which is very popular in China and the Far East. Each exercice targets a specific area or function of the body.</li>
                <li><b>Bagua Qigong</b> - exercises for strengthening legs , improving coordination, balance and much more. Circle walking with Lion Step, Chicken Step, Crane Step, etc.</li>
                <li><b>Chan Si Gong</b> - silk reeling exercises, working the 18 joints of the body - shoulders, elbows, wrists, neck, chest, waist, abdomen, kua (groin), hips, knees and ankles.</li>
                <li><b>Dantian-gong</b> - exercises to become aware of the dantian (centre) and make it the driving force of body movement.</li>
                <li><b>Daoist Qigong</b> - Daoist health practices developed to strengthen muscles, glands and organs. These are gentle spiralling exercises involving the whole body - Restoring Spring, Swimming Smiling Dragon, Frog Swimming etc.</li>
                <li><b>Eight Animal Qigong</b> - a set of exercises mimicking the movements of eight animals. Each exercice targets a specific area or function of the body.</li>
                <li><b>Five Yin Organs Qigong</b> - Traditionally said to strengthen and regulate the function of Spleen, Lungs, Kidneys, Liver and Heart. Each exercice targets a specific area or function of the body.</li>
                <li><b>Taiji Ruler & Bang</b> - Taiji Ruler: gentle exercises using the Taiji ruler (rolling pin) to develop body awareness, coordination and body connection. Taiji Bang: exercises using the Taiji Bang (rolling pin or simiar) to improve body awareness, coordination and to strengthen joints.</li>
                <li><b>Tai Xu (Tai Hui) Qigong</b> - eight exercises for strengthening the body and promoting internal energy.</li>
                <li><b>Tree Qigong</b> - exercise to create/enhance body connection and develop internal strength (moving and standing like a tree)</li>
            </ul>
            <p>Students will need to wear clothes and shoes suitable for Qigong practice both indoors and out of doors, and have a pen/pencil with a writing pad for making notes.</p>
            
            <p>If you would like to know more, or you are not sure whether the course is for you, feel free to <a href="/contact/">contact us</a> to discuss it with Karel or Eva before coming to your decision.</p>
            
            <h2>More ABout The Tutors:</h2>
                <p><b>Karel Koskuba</b> has been studying Internal Martial Arts and Qigong since 1978, and teaching since 1984.  Karel is the head of the Chinese Internal Arts Association and leads the Taijiquan and Yiquan Instructors Courses and the Qigong Practitioners Course.  He devised and wrote the Taijiquan and Qigong-based exercises for the Battle Hospital, Reading.  He gives seminars on Internal Martial Arts and Qigong in UK and abroad.</p>
                <p><b>Eva Koskuba</b> has been studying Internal Martial Arts and Qigong since 1982 and teaching since 1986.  She teaches (and organizes) on the Taijiquan and Yiquan Instructors Courses and the Qigong Practitioners Course, and was the head of the Battle Hospital project teaching Taiji and Qigong based exercises there.  She gives seminars on Taijiquan and Qigong in UK and abroad.</p>
            </div>
        </div>
    </section>

</Layout>