---
import Layout from '../../../layouts/Layout.astro'
import Header from '../../../components/Header.astro'
import Breadcrumb from '../../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---

<Layout>
   
    <Header slot="header-content" title={title} description={description} keywords={keywords}/>

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h2 class="title">Three-year Taijiquan Instructors Course</h2>
                <p>Tutors: Karel & Eva Koskuba</p>
                <h4 class="title">Course Aim</h4>
                <p class="subtitle is-size-5">To study Taijiquan in depth and to train students to a professionally competent level in the teaching of Taijiquan classes.</p>
                <h4>Entry Requirements:</h4>
                <p>The course is suitable for students at intermediate/advanced level with at least five years Taijiquan experience. Course applicants will be expected to attend one of our Saturday or Sunday morning Taijiquan classes before enrolling on the course.</p>
                <h4>Course Dates:</h4>   
                <p>The course is designed around Chen style Taijiquan.</p>
                <p>Each year there will be a combination of workshops, individual lessons and a residential weekend. Dates will be given later.</p>
                <h4>Course Outline</h4>
                <p>At the completion of the course the students will have gained both a practical and theoretical understanding of Taijiquan and its many aspects.</p>
                
                <p>During the course the students will:</p>
                <ul>
                    <li>Study the movements of the body in Taijiquan Laojia form</li>
                    <li>Study the principles of Taijiquan</li>
                    <li>Study Push Hands (Tui Shou) techniques and their applications.</li>
                    <li>Learn to make a distinction between Taijiquan as a Martial discipline and an Art</li>
                    <li>Appreciate and learn to use the therapeutic aspects of Taijiquan and related Qigong practice</li>
                    <li>Understand the concept of Qi, its different manifestations and its relation to the western view</li>
                    <li>Study Taijiquan classics</li>
                    <li>Study the origin of Taijiquan and the history of the main styles</li>
                </ul>
            
                <p>Each course lesson will include a theoretical part and practical work of a general nature with individual help given where needed.</p>
                <p>Included in the course are individual lessons which will consists only of practical work with close attention to detail and intensity not possible in a general lesson.</p>
                <h4>Attire</h4>
                <p>Students will need to wear clothes and shoes suitable for Taijiquan practice both indoors and outdoors.</p>
                <h4>Course Outcome</h4>
                <p>At the end of the course only those students who have achieved a reasonable level will be awarded a teaching certificate. Martial ability takes time to develop and thus only the students can demonstrate a good proficiency in competitive Pushing Hands and martial ability will be awarded a full certificate. Those that cannot, will be awarded a Taijiquan-for-Health certificate that can be converted to a full certificate when they can demonstrate satisfactory level of martial ability. If you would like to know more, or you are not sure whether the course is for you, feel free to telephone on 07905 514989 to discuss it with Karel or Eva before coming to your decision.</p>
                
                <h4>More About The Tutors:</h4>
                <p>Karel Koskuba has been studying Internal Martial Arts and Qigong since 1978, and teaching since 1984. Karel is the head of the Chinese Internal Arts Association and leads the Taijiquan and Yiquan Instructors Courses and the Qigong Practitioners Course. He devised and wrote the Taijiquan and Qigong-based exercises for the Battle Hospital, Reading. He gives seminars on Internal Martial Arts and Qigong in UK and abroad.</p>
                <p>Eva Koskuba has been studying Internal Martial Arts and Qigong since 1982 and teaching since 1986. She teaches (and organizes) on the Taijiquan and Yiquan Instructors Courses and the Qigong Practitioners Course, and was the head of the Battle Hospital project teaching Taiji and Qigong based exercises there. She gives seminars on Taijiquan and Qigong in UK and abroad.</p>

            </div>
        </div>
    </section>

</Layout>