@charset "utf-8";

$size-1: 4rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 1.9rem;
$size-5: 1.5rem;
$size-6: 1rem;


nav, h1, h2:not(.subtitle), h3:not(.subtitle), h4, h5, h6 { 
    font-family: "Crimson Pro", serif; 
    letter-spacing: -.02rem;
}

h1 {
    @extend.is-1;
  }
  
  h2 {
    @extend.is-2;
  }
  
  h3 {
    @extend.is-3;
  }
  
  h4 {
    @extend.is-4;
  }
  
  h5 {
    @extend.is-5;
  }
  
  h6 {
    @extend.is-6;
  }

a, p, .subtitle {
    font-family: "Inter", sans-serif;
}

blockquote {
    font-size: $size-5;
    font-weight: 500;
}

p {
  font-size: 1em;
  font-weight: 400;
}

// Set your brand colors
$purple: #844e6b;
$pink: #e26b7f; 
$light-pink: #f3b2bd;
$seablue: #084c6e;
$lightblue: #4aacdd;
$brown: #757763;
$beige-lightest: #FDFAF0;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$plainwhite: #ffffff;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $light-pink;
$primary: $purple;
$info: $seablue;
$navbar-background-color: $seablue;
$navbar-item-hover-color: $beige-lighter;
$navbar-item-hover-background-color: $seablue;
$navbar-item-color: $plainwhite;
$navbar-dropdown-background-color: $seablue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$subtitle-line-height: 1.35;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
