---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Breadcrumb from '../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h2>Contact The CIAA</h2>
                <p>
                    <br/>Eva Koskuba
                    <br/>Lambs Farmhouse
                    <br/>Basingstoke Road
                    <br/>Swallowfield
                    <br/>Berks<br/>RG7 1PY
                    <br/>U.K.
                </p>
                <p>
                    Tel: 07905 514989 (Intl +44 7905 514989)
                </p>
                <p>
                    e-mail: <a href="mailto:cia@ciaa.org.uk">cia@ciaa.org.uk</a>
                </p>
            </div>
        </div>
    </section>

</Layout>