---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    
    <section class="section">
        <div class="container content">
            <h2>Contact The CIAA</h2>
            Eva Koskuba
            Lambs Farmhouse
            Basingstoke Road
            Swallowfield
            Berks RG7 1PY
            U.K.
            Tel: 07905 514989 (Intl +44 7905 514989)
            e-mail:  cia@ciaa.org.uk
        </div>
    </section>

</Layout>