---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Breadcrumb from '../components/Breadcrumb.astro';

let title = "Tai Chi Classes in Reading, Berkshire in the UK";
let description = "Find Tai Chi lessons near Reading, UK. Contact details and opening times. Tai Chi for Everybody teacher Eva Koskuba - teaching includes Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "eva koskuba, lambs farm house, tai chi, Taijiquan, Yiquan, Qigong, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "contact/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals} />
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h1>Tai Chi For Everybody in Reading, UK</h1>
                <p>We teach Tai Chi, Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong in Swallowfield, Reading, Berkshire (UK)</p>
                <h2>Business Address and Contact Information</h2>
                <div class="columns">
                    <div class="column">
                        <h3>Address</h3>
                        <p>
                            Eva Koskuba
                            <br/>Lambs Farmhouse
                            <br/>Basingstoke Road
                            <br/>Swallowfield
                            <br/>Berks<br/>RG7 1PY
                            <br/>U.K.
                        </p>
                    </div>
                    <div class="column">
                        <h3>Contact us</h3>
                        <p>
                            Tel: 07905 514989 (Intl +44 7905 514989)
                        </p>
                        <p>
                            e-mail: <a href="mailto:eva@ciaa.org.uk">eva@ciaa.org.uk</a>
                        </p>
                    </div>
                </div>

                <h3>Directions:</h3>

                <ul>
                    <li>From Spencers Wood (B3349): Drive towards Lambs Farm Business Park.</li>
                    <li>Pass "Back Lane" on your right.</li>
                    <li>50 meters later "Lambs Farmhouse" is displayed on a white sign with black text.</li>
                </ul>

                <h2>Opening Hours</h2>

                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h3>Tai Chi Lessons Onsite Opening Hours</h3>
                                <p>
                                    We are open through the week and at weekends <b>by appointment</b>. Lessons take place onsite 
                                    in Swallowfield, Reading.
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="/tuition/onsite-classes/">List of onsite lessons</a>
                                </p>
                            </footer>
                        </div>
                        
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h3>Tai Chi Lessons From Home / Online</h3>
                                <p>
                                    We offer a range of online classes, some of them are free of charge.
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="/tuition/zoom-classes/">List of online lessons</a>
                                </p>
                            </footer>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>

</Layout>