---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Breadcrumb from '../components/Breadcrumb.astro';

let title = "Tai Chi Classes in Reading, Berkshire in the UK";
let description = "Join us or contact us about Tai Chi lessons for Everybody by teacher Eva Koskuba - teaching includes Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "eva koskuba, lambs farm house, lambs, farm, house, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "contact/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals} />
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h1>Tai Chi For Everybody in Reading, UK</h1>
                <p>We teach in Swallowfield, Reading, Berkshire (UK)</p>
                <h2>Business Address:</h2>
                <p>
                    <br/>Eva Koskuba
                    <br/>Lambs Farmhouse
                    <br/>Basingstoke Road
                    <br/>Swallowfield
                    <br/>Berks<br/>RG7 1PY
                    <br/>U.K.
                </p>
                <p>
                    Tel: 07905 514989 (Intl +44 7905 514989)
                </p>
                <p>
                    e-mail: <a href="mailto:eva@ciaa.org.uk">eva@ciaa.org.uk</a>
                </p>
                <h2>Directions:</h2>
                <p>From Spencers Wood (B3349): Drive towards Lambs Farm Business Park.</p>
                <p>Pass "Back Lane" on your right.</p>
                <p>50 meters later "Lambs Farmhouse" is displayed on a white sign with black text.</p>
            </div>
        </div>
    </section>

</Layout>