---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    
    <section class="section">
        <div class="container">
            <p>Tuition Page</p>
        </div>
    </section>

</Layout>