<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CIAA</strong>
      </p>
      <p>Contact, Impressum, Privacy</p>
      CIAA is a member of: - Chen Xiaowang World Taijiquan Association, - British Council for Chinese Martial Arts (BCCMA), - Tai Chi Union for Great Britain (TCUGB)
    </div>
</footer>