---

---

<footer class="footer has-background-grey-light" style="clear:both;">

  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p>
            <strong>CIAA</strong>
          </p>
          <p>Lambs Farmhouse,
            <br/>Basingstoke Road,
            <br/>Swallowfield
            <br/>RG7 1PY
            <br/>For satnav, use GPS coordinates 51.3847, -0.9725, otherwise ask for directions
          </p>
        </div>
        <div class="column">
          <p>Contact, Impressum, Privacy</p>
          <p>
          CIAA is a member of: 
          <ul>
            <li>Chen Xiaowang World Taijiquan Association</li>
            <li>British Council for Chinese Martial Arts (BCCMA)</li>
            <li>Tai Chi Union for Great Britain (TCUGB)</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>