---
import 'bulma/css/bulma.css';
import "@fontsource/crimson-pro/200.css";
import "@fontsource/inter/600.css";

export interface Props {
	title: string;
	description: string;
    keywords: string;
}

const { title, description, keywords } = Astro.props;
---
	<!-- Global Metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<!-- Primary Meta Tags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<meta name="keywords" content={keywords} />

	<style is:global>

	body {
		font-family: "Inter", sans-serif;
	}

	h1, h2:not(.subtitle) { 
		font-family: "Crimson Pro", serif; 
		color: rgb(4, 83, 57);
	}

	</style>