<script is:inline src="/javascript/nav.js" />
<nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <img class="image" alt="CIAA Logo link to home page" src="/images/ciaa-logo.png" width="190px">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu"> 
        <div class="navbar-start">
            
        </div>

        <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/internal-arts/">
                Internal Martial Arts
                </a>
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/internal-arts/taijiquan/">
                    Taijiquan
                </a>
                <a class="navbar-item" href="/internal-arts/yiquan/">
                    Yiquan
                </a>
                <a class="navbar-item" href="/internal-arts/baguazhang/">
                    Baguazhang
                </a>
                <a class="navbar-item" href="/internal-arts/xingyiquan/">
                    Xingyiquan
                </a>
                <a class="navbar-item" href="/internal-arts/qigong/">
                    Qigong
                </a>
                <hr class="dropdown-divider">
                <a class="navbar-item" href="/internal-arts/video-demonstration/">
                    Video Demonstrations
                </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/tuition/">
                Tuition
                </a>
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/tuition/zoom-classes/">
                    Zoom Classes
                </a>
                <a class="navbar-item" href="/tuition/onsite-classes/">
                    Onsite Classes
                </a>
                <a class="navbar-item" href="/tuition/residential-retreats/">
                    UK Retreats
                </a>
                <a class="navbar-item" href="/tuition/international-retreats/">
                    International Retreats
                </a>
                <hr class="dropdown-divider">
                <a class="navbar-item" href="/tuition/ciaa-courses/">
                    CIAA Accredited Courses
                </a>
                <a class="navbar-item" href="/tuition/ciaa-qualified-instructors/">
                    CIAA Qualified Instructors
                </a>
                <!-- leaving syllabus out until content has been fixed
                <hr class="dropdown-divider">
                <a class="navbar-item" href="/tuition/syllabus/">
                    Syllabus
                </a>
                 -->
                </div>
            </div>

            <a class="navbar-item" href="/posts/">
                Blog
            </a>

            <a class="navbar-item" href="/contact/">
                Contact
            </a>

            </div>
        </div>
    </div>
</nav>
