
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" href="./">
        <img src="http://www.ciaa.org.uk/images/ciaa-text.gif" width="200">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="./">
            Home
            </a>

            <a class="navbar-item">
            Internal Arts
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                Tuition
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item">
                    Zoom Classes
                </a>
                <a class="navbar-item">
                    LF Classes
                </a>
                <a class="navbar-item">
                    Courses
                </a>
                </div>
            </div>

            <a class="navbar-item">
                Residential
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                More
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item">
                    Syllabus
                </a>
                <a class="navbar-item">
                    Video Clips
                </a>
                </div>
            </div>

            </div>
        </div>
    </div>
</nav>
