
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <img src="http://www.ciaa.org.uk/images/ciaa-text.gif" width="200">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/">
            Home
            </a>

            <a class="navbar-item" href="/internal-arts/">
            Internal Arts
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/tuition/">
                Tuition
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/tuition/zoom-classes/">
                    Zoom Classes
                </a>
                <a class="navbar-item" href="/tuition/onsite-classes/">
                    Onsite Classes
                </a>
                <hr class="drop-down-divider">
                <a class="navbar-item" href="/tuition/accredited-courses/">
                    Accredited Courses
                </a>
                <a class="navbar-item" href="/tuition/residential-courses/">
                    Residential Courses
                </a>
                </div>
            </div>

            <a class="navbar-item" href="/contact/">
                Contact
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                More...
                </a>
        
                <div class="navbar-dropdown">
                <a class="navbar-item" href="/syllabus/">
                    Syllabus
                </a>
                <a class="navbar-item" href="/videos/">
                    Video Clips
                </a>
                </div>
            </div>

            </div>
        </div>
    </div>
</nav>
