---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Bagua / Baguazhang Explanation Details Page";
let description = "An overview of Bagua from the UK's leading Tai Chi instructors. 30 years experience explaining the interal martial art of Baguazhang";
let keywords = "baguazhang, bagua, CIAA, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "internal-arts/baguazhang/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals}/>

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb /> 
            <div class="content">

            <h2 class="title">Baguazhang (Pa Kua Chang)</h2>

            <p class="subtitle">The page <a href="/internal-arts/">Internal Arts</a> gives more information on theory and benefits.</p>

            <p>Baguazhang (Eight Trigram Palm) bases its strategy on evasion and thus is particularly suitable for supple and quick individuals. The evasion is based on nimble footwork and flexible, spiralling movements.</p>

            <p>We practise two styles of Baguazhang:</p>
            <ul>
                <li>Eight Dragon Palms</li>
                <li>'Original Dong' Form</li>
            </ul>
            
            <p>The main training exercises in each of the styles is a circular walk, which develops strong legs and lower body. Each change of direction is accompanied by a series of movements that are first used to train students in correct movement and later used to train applications. These movements are called Palm Changes.</p>

            <p>Each of the styles consists of eight Palm Changes.</p>

            <p><b>Eight Dragon Palms</b> is a basic, comparatively simple form. It is used as an introduction to the way one moves in Baguazhang. Because it is simple, students can concentrate on how to step and spiral their limbs and body without worrying too much about complex movements.</p>

            <p><b>Original Dong Form</b> is a more complex style from Jiang Rong Qiao attributed by him to his teacher Zhang Zhao Dong (who was a student of Bagua's founder, Dong Hai Chuan). This form is used as the main training aid for self-defense applications.</p>
            </div>
        </div>
    </section>

</Layout>