---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Baguazhang";
let keywords = "baguazhang, bagua, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb /> 
            <p>Baguazhang</p>
        </div>
    </section>

</Layout>