---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "Offering Tai Chi for beginners. Training Tai Chi instructors for over 20 years through CIAA. We are experts in Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong. Offer Tai Chi weekly classes and Chinese Exercises in Berkshire and online.";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan, baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h2 class="title">Why Learn The Internal Martial Arts?</h2>
                <p>
                    Eva and Karel Koskuba have been studying and <a href="/tuition/">teaching Internal Martial Arts</a>, and in particular Tai Chi Chuan, 
                    for over 30 years. The emphasis taught is first on learning to acquire <strong>Internal Power</strong> that 
                    builds Qi (Chi). Then, as with other martial arts, some students go on to more advanced contact techniques, 
                    for example "Pushing Hands". 
                </p>                
                <h3>A Clear Difference To External Martial Arts</h3>
                <p>
                    In contrast to for example Karate, each technique within any of the Internal Martial Arts must be in accordance with the principle known as 
                    Six Harmonies; 3 External and 3 Internal.
                    <strong>Notice the important difference when comparing internal and external martial arts</strong> - in the external 
                    arts students learn self-defence techniques fairly early on and any other exercises 
                    are designed to strengthen and condition their body and mind, in the internal arts 
                    (for example "Tai Chi", Qigong, Yiquan) a lot of the time is spent on standing and slow, soft 
                    movements without emphasis on contact.
                </p>
                <h4>Three External Harmonies:</h4>
                <p>This serves as a guide to the structure and use of the body in static postures and in movement. This is a 'starting point' of practice rather than a definitive list of co-ordinations.</p>
                <ul>
                    <li>Shoulders co-ordinate with hips</li>
                    <li>Elbows co-ordinate with knees</li>
                    <li>Wrists co-ordinate with ankles</li>
                </ul>
                <h4>Three Internal Harmonies:</h4>
                <p>Over time students learn to move easily and respond spontaneously in any direction 
                    without becoming tense and rigid. This type of power is called Internal Power and this where 
                    Internal Martial Arts got their name.</p>
                <ul>
                    <li>The mind/thought leads intention</li>
                    <li>Intention leads Qi</li>
                    <li>Qi leads strength</li>
                </ul>
                <h2>What Type of Internal Arts Are There?</h2>
                <ul>
                    <li><a href="/internal-arts/taijiquan">Taijiquan</a></li>
                    <li><a href="/internal-arts/yiquan">Yiquan</a></li>
                    <li><a href="/internal-arts/baguazhang">Baguazhang</a></li>
                    <li><a href="/internal-arts/xingyiquan">Xingyiquan</a></li>
                    <li><a href="/internal-arts/qigong">Qigong</a></li>
                </ul>
                
                <h2>Helping You Develop Internal Power</h2>
                    <img style="float: right; width: 30%; margin-left: 2rem;" class="is-1by1" src="/images/develop-internal-power.jpg" alt="man framing, and appearing to push, the sun with the power of his hands and chi">
                    <p>In Internal Martial Arts, we aim to train students to move in such a way that 
                        at any time they can bring the maximum power of the body to bear on any potential opponent. 
                    </p>
                
                <p>A working definition of Internal Power could be:</p>
                <ol type="1">
                    <li>connecting the whole body with all movement and power originating from the centre (dantian) - <strong>whole-body power</strong></li>
                    <li>an ability to create a relaxed spring-like power in any direction (peng)</li>
                    <li>an ability to use contraction into the centre</li>
                </ol>
                <p>An ability to use the minimum amount of muscular power whilst maintaining the above three points and its use as:</p>
                <ul>
                    <li>a range of specialised skills for handling an opponent (sensing their movement, strength and intention, ability to control them through 'sticking', ...) </li>
                    <li>a range of strategies/tactics for dealing with an opponent (not opposing strength with strength - i.e. the concept of Yin and Yang, using opponents' own strength against them, etc.)</li>
                </ul>
                <h2>Practice Creates Qi (Chi)</h2>
                <p>
                    It is important for students to follow an initial period of practice, resulting in becoming more relaxed and centred,
                    learning how to use the mind to guide practice. This can take a number of forms, one of the more 'traditional' ones
                    being use of the concept of Qi (Chi).
                </p>
                <h3>So What is Qi (Chi)?</h3>
                <img style="float: right; width: 30%;" class="is-4by5 ml-4" src="/images/boy-riding-bicycle.jpg" alt="young boy balancing on and riding a bicycle">
                <p>
                    Warmth, tingling and other sensations accompanying practice are regarded as manifestations of Qi. These sensations
                    are not important in themselves, only what they tell us about our state of relaxation/excitation.
                </p>
                <p>
                    Different people experience different sensations and even in one individual, they keep changing with time. It would be a
                    mistake to give them any real significance.
                    What is of great significance are <strong>feelings/sensations that come as a result of increased body awareness</strong>.
                    They vary between individuals and broadly speaking are related to the sense of balance and connection.
                </p>
                <p>
                    Whilst complex, Qi is a highly convenient concept to guide the practice of Internal Power training. 
                    <strong>
                        To use an analogy, learning to ride a bicycle can only be accomplished by paying attention 
                        to one's balance rather than to the action of muscles.
                    </strong>
                    Acquiring balance is not a motor skill that can be learned through practising a set of moves. In balancing,
                    we need to be able (somehow) to guide postural muscles to 'do the right thing' and yet we have no (conscious) control
                    over them. Similarly, to acquire Internal Power we need to be able to 'access and guide' deep structures of muscles
                    over which we have no conscious control, nor even any awareness to speak of.
                </p>
                <h2>How Internal Arts Improve Health</h2>
                <p>
                    The health benefits flow directly from the requirements of Internal Martial Arts practice, most often
                    referred to as practicing Tai Chi. To develop Internal Power, it is necessary to have the whole body 
                    connected so that it moves as one unit. In order to achieve this, the movements 
                    are performed in a slow, relaxed and unhurried manner, and with a great deal of concentration. These flowing
                    movements often seen on TV or in the park, referred to as Tai Chi, are 
                    greatly beneficial in reducing the level of stress - and stress is one of the biggest problems of modern life. All 
                    movements should be performed with an all-pervading spiral motion which benefits circulation, helps with many 
                    joint problems and improves digestion and other functions of internal organs. In recent years there have been many 
                    studies done which document the benefits one can gain from practising Taijiquan (Tai Chi Chuan). 
                    Similar things can be said of the other Internal Martial Arts, too.
                </p>
                <p>
                    After a period of regular "Tai Chi" practice, the effects can be felt in one's enhanced physical, mental and
                    emotional well-being. On the physical level, the body becomes more supple and movements gain poise
                    and become more graceful. On the mental level, one can think more clearly and one's concentration
                    is greatly improved. On the emotional level, one becomes more relaxed, tolerant and generally happier.
                </p>
                <h3 style="clear: both;">Taiji As A (Gentle) Contact Sport</h3>
                <p>
                    <img style="float: right; width: 30%;" class="is-4by5 ml-4" src="/images/pushing-hands.jpg" alt="a woman and man practice tai chi by pushing each others hands and their internal power">
                    When practising these arts for health only, the tendency is to concentrate on the slow, flowing movements.
                    However, without the feedback gained from two-person practice, the benefits are somewhat limited. This
                    does not mean everyone should practise fighting applications, but everyone should try Pushing Hands. All
                    the benefits described above are enhanced in correct Pushing Hands practice. 
                </p>
                <p>
                    This can be easily easily
                    understood when you consider that to stay relaxed and connected when your partner is trying to push and
                    pull you off balance, takes more skill and mental effort than when practising in a solo manner.
                </p>
                <h3>Become Strongly Rooted</h3>
                <p>Pushing Hands and plenty of regular "Tai Chi" practice assist students in building a strong connection (of the dantian) 
                    to the ground.</p>
                <h4>Discover The Dantian</h4>
                <p>
                    The dantian is a centre of gravity of one's body (lower abdomen). Depending on context, the area varies from a
                    point to the whole abdomen including pelvis and hips. All movement and strength should originate from here.
                </p>
                <h4>Build Strong Connection</h4>
                Connections in the body are initially achieved by slightly stretching all the tissue and extending the joints. This is 
                done with no unnecessary tension. Practice strengthens this connection so that it can be of practical use
                in day-to-day life.

                <h3>Competitions</h3>
                <p>The policy of our school is that we do not practise for competitions. Students are not actively discouraged from taking part in competitions but they are also not encouraged. Our view is that practising for competitions (Forms, Pushing Hands or others) will necessarily cause students to take shortcuts in their training. Advanced students, however, who decide to enter competitions, will be given help and support.</p>
            </div>
        </div>
    </section>

</Layout>