---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Qigong Explanation Details Page";
let description = "An overview of Qigong from the UK's leading Tai Chi instructors. 30 years experience explaining the interal martial art of Qigong";
let keywords = "qigong, martial art, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "internal-arts/qigong"

---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">

                <h1 class="title">Qigong (Chi Kung)</h1>
                <p>Qigong is a system of exercises for cultivation of Qi. Qi can be translated as energy and Gong as practice.</p>
                
                <h2>What kinds of Qigong Are There?</h2>
                <p>There are many different types of Qigong systems with different goals. There are:</p>

                <ul>
                    <li>Medical Qigongs designed to improve health in general or to target a particular disease or internal organ</li>
                    <li>Martial Qigongs designed to increase internal power or to condition the body</li>
                    <li>Daoist or Buddhist Qigongs which aim to promote spiritual growth</li>
                    <li>Sexual Qigongs to increase the sexual energy or increase the range of sensations</li>
                </ul>
                
                <p>There are many more such types and each in turn has a large number of different variations. One analogy would be to think of Qi as music and the different types of Qigong as different musical instruments. The subject matter is the same but the way it is approached can vary. The Internal Martial Arts themselves are a type of Qigong.</p>

                <h2>How Qigong Helps The Mind</h2>
                <p>A common thread in all these practices is the emphasis on using Mind. Most exercises are done with a great deal of (relaxed) concentration and very little of physical movement. But movement is present all the time - even when the practitioner seems perfectly still.</p>

                <p>Recently, there has been quite a lot of research done on the health benefits of Taijiquan. Qigong research is just starting but the first indications are that (unsurprisingly) the benefits are similar.</p>


            </div>
            
        </div>
    </section>

</Layout>
