---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Tai Chi Explanation Detail Page";
let description = "Over 30 years experience explaining Tai Chi to beginners and instructors online and in Reading, Berkshire (also known as Taiji, Taijiquan).";
let keywords = "taijiquan, taiji, tai chi, taichi, martial art, self defense, Berkshire, Reading";
let canonicals = "internal-arts/taijiquan/";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
            <h2 class="title">Taijiquan (Tai Chi Chuan)</h2>
            <p>The page <a href="/internal-arts/">Internal Arts</a> gives more information on theory and benefits.</p>
            <p>Taijiquan (Yin Yang boxing, sometimes translated as Great Ultimate boxing) is the best known style of the Internal Martial Arts. Unlike Xingyiquan and Baguazhang it does not restrict itself in the initial assumptions and thus can be said to be more complete. This probably makes it more difficult to master. An important element of Taijiquan training is Pushing Hands. There are five major styles of Taijiquan - Chen, Yang, Woo, Wu and Sun. We practise Chen and Yang styles (for tuition see our <a href="/tuition/">list of classes</a>).</p>

            <p>The most famous part of Taijiquan are the moving exercises, known as the Taiji Form, which is a series of slow, continuous and flowing movements with unhurried breathing. All movements are done with calm concentration, which is why it is often called meditation in motion. When done correctly, the practitioner's body can develop as a whole without any parts being ignored or exhausted - in other words: the practice of Taijiquan reaches parts other exercises do not reach. The essence of Taijiquan is to integrate the mind, body and spirit with neither having preference over the other. With continued practice, one's health inevitably improves.</p>

            <h3>Chen style</h3>
            <p>Chen Style is the original style of Taijiquan from which the Yang style and all the other styles developed. While the other Taijiquan styles enjoyed ever increasing popularity with the inevitable shift away from the martial side, the Chen style was practised in relative obscurity in Chen village and thus retained more of the original flavour. It contains a wide range of movements - from the slow and graceful to the explosively fast. The martial aspects of this form are more recognisable and it contains many techniques and moves not found in other styles.</p>
            <p>Nowadays, the Chen style is fast gaining in popularity. This is mainly due to the efforts of the current generation of Chen masters, most prominent of whom is Chen Xiaowang (both in terms of effort and skill) - the 19th generation head of Chen style. The process was started by Chen Xiaowang's grandfather - Chen Fake, and an uncle - Chen Zhaokui.</p>

            <h3>Yang style</h3>
            <p>This is the most popular and widely practised of all the Taijiquan styles. This is, no doubt, due to the efforts of its founder, Yang Lu Chan and his family. Yang Lu Chan, having learnt the art in the Chen village, took it to Beijing and in a series of challenges earned the nick-name of Yang the Unsurpassed, having never been beaten. His grandson, Yang Cheng Fu, simplified the system and, while still retaining its martial aspects, made it more suitable as a health exercise.</p>

            </div>
        </div>
    </section>

</Layout>