---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Tai Chi Video demonstrations";
let description = "Videos of CIAA instructors doing Tai Chi, Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "video demonstration, video, taijiquan, taiji, tai chi, taichi, yiquan, qigong, chi kung, martial art, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <p>Video Demos</p>
        </div>
    </section>

</Layout>