---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Tai Chi Video demonstrations";
let description = "Videos of CIAA instructors doing Tai Chi, Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "video demonstration, video, taijiquan, taiji, tai chi, taichi, yiquan, qigong, chi kung, martial art, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
                <div class="content">
                    <h1>Tai Chi Video Demos</h1>
                    <p>A library of video demonstrations provided by students and instructors.</p>
                    <h2>Eva Koskuba Video Demonstrations</h2>
                    <p>
                        There's many forms and exercises for doing Tai Chi. Below are some demonstrations by Eva Koskuba and 
                        some of her students. If you would to know more about what you see below please <a href="/contact/">contact us</a>.</p>
                    <p>
                        Also do take a look at the overviews of the different <a href="/internal-arts/">internal arts</a>, it
                        is interesting to learn a little about the two main kinds of <a href="/internal-arts/taijiquan/">Tai Chi</a>, 
                        how <a href="/internal-arts/qigong/">Quigong</a> can help you build your Qi (Chi), and 
                        <a href="/internal-arts/yiquan/">Yiquan</a> the art of "Mind Boxing".
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yxIW0aMFvSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_TU2_Oq9VJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RMEeRSL6FnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h2>Fan Form Demonstration</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/S8X0fvZrjUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/C6JgWp6AYKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
        </div>
    </section>

</Layout>