---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Xingyiquan";
let keywords = "xingyiquan, xingyi, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <p>Xingyiquan</p>
        </div>
    </section>

</Layout>

