---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Xingyiquan Explanation Details Page";
let description = "An overview of Xingyiquan from the UK's leading Tai Chi instructors. 30 years experience explaining the interal martial art of Xingyiquan";
let keywords = "xingyiquan, xingyi, CIAA, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "internal-arts/xingyiquan/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals} />

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">

                <h1 class="title">Xingyiquan (Hsing I Chuan)</h1>
                <p>
                    The page <a href="/internal-arts/">Internal Arts</a> gives more
                        information on theory and benefits.
                </p>
                <h2>What is Xingyiquan?</h2>
                <p>Loosely translated as <b>Form and Intent boxing</b>, this is a direct, forceful style which relies on the great Internal Power its practitioners (should) possess. This power is developed via practice of its standing posture, Santi.</p>
                
                <h2>What Are The Techniques Underpinning Xingyiquan?</h2>
                <p>The basis of Xingyiquan is <b>Wuxingquan</b> which can be translated as <i>Five Element Boxing</i>. It contains five techniques or fists (quan) each of which is associated with one of the Elements:</p>
                
                <ul>
                    <li><i>Piquan</i>, translated as Splitting or Cutting Fist, is associated with Metal. It is used as a wedge with which to ‘split’ and deflect opponent’s attack while simultaneously attacking. The mental image the practitioners concentrate on is that of an axe splitting a log.</li>
                    <li><i>Zuanquan</i>, Drilling Fist, is associated with Water. The image is that of water suddenly bursting through the dam and sweeping all in its path.</li>
                    <li><i>Bengquan</i>, Crushing Fist, is associated with Wood. The image is that of an arrow hitting it’s target.</li>
                    <li><i>Paoquan</i>, Cannon Fist, is associated with Fire. The image is that of a flame suddenly leaping out or a bullet leaving a barrel of a gun.</li>
                    <li><i>Hengquan</i>, Crossing Fist, is associated with Earth. The image is that of a large rock rolling down a mountain.</li>
                </ul>
                
                <p>The above are just few examples. Each practitioner should strive to understand and express through his/her movements the quality of each of the Elements. It is often the case that the qualities of the ‘Elements’ change as the students develop and deepen their understanding.</p>
                
                <p>There are various drills and two man sparring sets which are used to give students the initial ‘feel’ for how to apply each technique, how to transform one technique into another and how to counter one technique with another.</p>
                
                <p>At a more advanced stage, there is the Twelve Animals system (Shi Er Xing) which combines the Five Elements into a richer tapestry of moves and mental attitudes. Different schools of Xinqyiquan have slight variations in the selection of the animals. We study the following styles:-</p>
                
                <p>Horse, Tiger, Dragon, Swallow, Snake, Bear and Eagle, Chicken, Hawk, Kingfisher, Crocodile, and Monkey.</p>
                
                <p>In the same way as the Five Elements do not represent real elements but rather act as symbols for certain qualities, each animal style consists of moves which try to capture the essential spirit of the animal, rather than mimic its moves.</p>

            </div>

        </div>
    </section>

</Layout>

