---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Yiquan / i Chuan Explanation Details Page";
let description = "An overview of Xingyiquan from the UK's leading Tai Chi instructors. 30 years experience explaining the interal martial art of Yiquan";
let keywords = "yiquan, CIAA, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "internal-arts/yiquan/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals}/>    

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h1 class="title">Yiquan (I Chuan)</h1>
                <p>
                    The page <a href="/internal-arts/">Internal Arts</a> gives more 
                    information on theory and benefits. 
                    What follows below is a short overview of Yiquan. For a more detailed explanation see our other website - <a href="http://www.yiquan.org.uk/" target="_blank">www.yiquan.org.uk</a>
                </p>
                <p>
                    Yiquan, also known as Dachengquan, is a system created by Wang Xiangzhai 
                    (1890 - 1963) after a lifetime of practice and research into martial arts. Wang 
                    Xiangzhai trained in Xingyiquan under a famous master Guo Yunshen. After Guo's 
                    death, Wang travelled extensively around China looking for top teachers. He 
                    became dissatisfied with the way martial arts were taught. In his opinion, far 
                    too much time and effort was spent on empty forms. He therefore created Yiquan 
                    (Mind Boxing) to re-focus on internal energy training.
                </p>
                <p>
                    The late Prof. Yao Zongxun was designated by Wang Xiangzhai as his successor. 
                    At present, Prof. Yao’s son, master Yao Chengguang teaches in 
                    Beijing.
                </p>
                <p>
                    Yiquan is mostly known for the standing postures, Zhan Zhuang, which are 
                    the main training practice for those interested in health only.
                    However, the complete training consists of seven sections:-
                </p>
                <ul>
                    <li>Zhan Zhuang - standing postures</li>
                    <li>Shi Li - testing of strength</li>
                    <li>Mo Ca Bu - friction step</li>
                    <li>Fa Li - release of power</li>
                    <li>Tui Shou - pushing hands</li>
                    <li>Shi Sheung - testing of voice/breath</li>
                    <li>Ji Ji Fa - combat practice</li>  	  
                </ul>
                <p>
                    The system is designed in such a way that students can 
                    progress in clearly defined steps from learning how to unify their body to 
                    acquire <em>whole-body strength</em>, through learning how 
                    to handle their opponents using this new way of moving through to fighting applications.
                </p>
                <p>Our school follows the teaching of master Yao Chengguang:</p>

                <div class="columns is-multiline">
                    <div class="column is-half">
                        <figure>
                            <img src="/images/Y_hun_yuan.jpg" alt="Picture of Hun Yuan Zhuang standing ready to start Yiquan"/>
                            <figcaption>Hun Yuan Zhuang</figcaption>
                        </figure>
                    </div>
                    <div class="column is-half">
                        <figure>
                            <img src="/images/Y_du_li.jpg" alt="Chinese man doing martial arts and standing on one leg" />
                            <figcaption>Chicken Stands on One Leg</figcaption>
                        </figure>
                    </div>
                    <div class="column is-half">
                        <figure>
                            <img src="/images/Y_jiang_long.jpg" alt="Chinese man doing the descending dragon pose leaning forward with hand above head"/>
                            <figcaption>Descending Dragon</figcaption>
                        </figure>
                    </div>
                    <div class="column is-half">
                        <figure>
                            <img src="/images/Y_fu_hu.jpg" alt="Chinese man doing the taming a tiger pose with hands lowered and legs wide apart" />
                            <figcaption>Taming A Tiger</figcaption>
                        </figure>

                    </div>
                </div>

                <p>For more information (including classes), go to <a href="http://www.yiquan.org.uk/" target="_blank">www.yiquan.org.uk</a></p>
                
            </div>
        </div>
    </section>

</Layout>