---
import Nav from "../components/Nav.astro"
import HomepageAlert from "../components/HomepageAlert.astro"
import Footer from "../components/FooterGeneral.astro"

// To Do - fetch warning message from Hygraph and check for its presence
let missing = false;
---

<!DOCTYPE html>
<html lang="en">

	<head>
		<slot name="header-content" />
	</head>
		
	<body>
		{ missing ? <HomepageAlert /> : null }
		<Nav />
			<slot name="main-content" />
		<Footer />
	</body>

</html>