---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Listing of CIAA qualified instructors";
let description = "Accredited Chinese Internal Arts Association instructors in the UK. Tai Chi, Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan, baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>

    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h1 class="title">CIAA Qualified Instructors</h1>
                <p>These instructors have all been through a <a href="http://www.ciaa.org.uk/syllabus.html">CIAA accredited program</a>. They are all capable instructors of Internal Martial Arts, each with their own perspective and focus on some, or all the internal martial arts of <a href="/internal-arts/taijiquan/">Tai Chi</a>, <a href="/internal-arts/yiquan/">Yiquan</a>, <a href="/internal-arts/baguazhang">Baguazhang</a>, <a href="/internal-arts/xingyiquan">Xingyiquan</a> and <a href="/internal-arts/qigong">Qigong</a>.
                </p>
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th><abbr title="Location">Loc</abbr></th>
                            <th><abbr title="Instructor">Instructor</abbr></th>
                            <th><abbr title="Contact">Contact</abbr></th>
                            <th><abbr title="Link">Web</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aldershot, Hants.</td><td>Alla Bennett</td><td> 07714 621 806</td><td>
                            <a href="https://www.facebook.com/risingstartaichi/" target="new">/www.facebook.com/risingstartaichi/</a></td>
                        </tr>
                        <tr>
                            <td>Buckinghamshire</td><td>Graham Lawton</td><td> 07768 838208</td><td>
                            <a href="http://www.willowtaichi.co.uk/" target="new">Willow Tai Chi</a></td>
                        </tr>
                        <tr>
                            <td>Bedfordshire</td><td>Ian Deavin</td><td>07860 218334</td><td><a href="http://www.sheffordtaichi.org/" target="new">www.sheffordtaichi.org</a></td>
                        </tr>
                        <tr>
                            <td>Berkshire &amp; Oxfordshire</td><td>Karen Pounds</td><td>07867 954 786</td><td>
                            <a href="http://www.karenpounds.co.uk/" target="new">www.karenpounds.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Bishopstoke/Hants.</td><td>Eleanor Thomas</td><td>07714 340 776</td><td></td>
                        </tr>
                        <tr>
                            <td>Bristol</td><td>Mark Leonard</td><td>0117 977 5193</td><td><a href="http://www.bristoltaichi.org/" target="new">www.bristoltaichi.org</a></td>
                        </tr>
                        <tr>
                            <td>Bristol</td><td>Frank Pring</td><td>0117 377 1176</td><td><a href="http://www.chentaichibristol.co.uk/tai-chi-classes.html" target="new">www.chentaichibristol.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Bromley</td><td>Sylvia Jarvis</td><td>0772 995 2918</td><td>e-mail:&nbsp;&nbsp;
                            <a href="mailto:sylviajarvis@hotmail.co.uk">sylviajarvis@hotmail.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Camberley</td><td>Gary Jones</td><td>01344 77 88 70</td><td></td>
                        </tr>
                        <tr>
                            <td>Caversham</td><td>John Henry</td><td>07867 681140</td><td><a href="http://www.heightstaichi.co.uk" target="new">www.heightstaichi.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Chichester</td><td>Sam Moor</td><td>07748 113 857</td><td><a href="http://www.sussextaichi.co.uk/" target="new">www.sussextaichi.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Cholsey</td><td>Alan Baker</td><td>01491 652 391</td> <td><a href="http://www.threetreasurestaiji.co.uk/" target="new">www.threetreasurestaiji.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Cheltenham/Gloucester</td><td>Olly Leonard</td><td>07508 686 315</td> <td>
                            <a href="http://www.cheltenhamgloucestertaichi.com" target="new">www.cheltenhamgloucestertaichi.com</a></td>
                        </tr>
                        <tr>
                            <td>Fareham</td><td>Craig Jones</td><td>0781 7075287</td><td><a href="http://www.practise-taiji.co.uk" target="new">www.practise-taiji.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Hampshire</td><td>Pauline Brennan</td><td> 07941 134568</td><td><a href="http://www.willowtaichi.co.uk/" target="new">Willow Tai Chi</a></td>
                        </tr>
                        <tr>
                            <td>Kidmore End, Berks</td><td>Debbie Page</td><td>0118 9722 812</td><td></td>
                        </tr>
                        <tr>
                            <td> Luton, Beds</td><td>Matthew Catlin</td><td> 07720 539 707</td><td><a href="https://www.facebook.com/Stopsley-Chen-Tai-Chi-388068504873830/" target="new">https://www.facebook.com/Stopsley-Chen-Tai-Chi-388068504873830/</a></td>
                        </tr>
                        <tr>
                            <td>Newbury</td><td>Alma Lopez-Tolman</td><td>0163 5299 672</td><td><a href="http://www.taichinewbury.co.uk/" target="new">www.taijinewbury.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Newick &amp; Brighton, East Sussex</td><td>Lisa Sang</td><td>07454 330 138</td><td>
                            <a href="http://www.villagetaichi.co.uk/" target="new">www.villagetaichi.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>North Somerset - Clevedon</td><td>Tom Sapsed</td><td>07766 757 276</td><td></td>
                        </tr>
                        <tr>
                            <td>Oxford</td><td>Emma Westlake/Phil Muil</td><td>07710 768 810</td><td><a href="http://www.oxfordtaichi.co.uk/" target="new">www.oxfordtaichi.co.uk</a>&nbsp;&nbsp;
                            <a href="mailto:emmandphil@yahoo.co.uk">emmandphil@yahoo.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Stratford on Avon</td><td>Debbie Wild</td><td>07773 318 830</td><td><a href="http://www.swantaichi.co.uk" target="new">www.swantaichi.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Swindon</td><td>Mark Jones</td><td>0179 364 3641</td><td><a href="http://www.greenchi.co.uk/" target="new">www.greenchi.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Woodley</td><td>Phil Larsson</td><td>0118 966 3104</td><td><a href="http://www.berkshiretaichi.co.uk/" target="new">www.berkshiretaichi.co.uk</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</Layout>