---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>

    <style>
        .imagelayout {
            max-width: 300px;
        }
    </style>
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <h2 class="title">Tuition</h2>
            <div class="columns">
                <div class="column">
                    <figure class="image is-4by5">
                        <img src="/images/eva-taichi-pose.jpeg" alt="Eva Koskuba in a Tai Chi pose dressed in martial arts clothing">
                    </figure>
                </div>
                <div class="column is-two-thirds">
                    <p>The purpose of CIAA is to promote the Internal Martial Arts (Neijia) of <a href="/internal-arts/taijiquan/">Taijiquan</a>, <a href="/internal-arts/yiquan/">Yiquan</a>, <a href="/internal-arts/baguazhang">Baguazhang</a>, <a href="/internal-arts/xingyiquan">Xingyiquan</a> and the therapeutic exercises of <a href="/internal-arts/qigong">Qigong</a></p>
                    <p class="mt-4">To learn the Internal Martial Arts students benefit from guidance in groups or one-to-one lessons in person or online. 
                    <p class="mt-4">
                        Lessons take place <a href="/tuition/onsite-classes/">onsite in Swallowfield near Reading</a>, or we offer <a href="/tuition/zoom-classes/">zoom lessons</a>
                            that take place numerous times a week.
                    </p>
                    </p>
                </div>
            </div>
            
        </div>
    </section>

</Layout>