---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Tuition in Internal Martial Arts and Tai Chi";
let description = "Train or get accredited instructor status through the CIAA. Learn the Internal Martial Arts of Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "tuition, lessons, learn, taijiquan, taiji, tai chi, taichi, yiquan, baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
let canonicals = "tuition/"
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords} canonicals={canonicals}/>

    <style>
        .imagelayout {
            max-width: 300px;
        }
    </style>
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <div class="content">
                <h1 class="title">Tai Chi and Internal Martial Arts Tuition</h1>
                <div class="columns">
                    <div class="column">
                        <figure class="image">
                            <img src="/images/eva-taichi-pose.jpeg" alt="Eva Koskuba in a Tai Chi pose dressed in martial arts clothing">
                        </figure>
                    </div>
                    <div class="column is-two-thirds">
                        <p>We are the founders of the <a href="http://www.ciaa.org.uk/">Chinese Martial Arts Association</a> in the UK, based in Reading, Berkshire. </p>
                        <p class="mt-4">
                            Lessons take place <a href="/tuition/onsite-classes/">onsite in Swallowfield near Reading, Berkshire</a>, or we offer <a href="/tuition/zoom-classes/">zoom lessons</a>
                                that take place numerous times a week.
                        </p>
                        <p>The purpose of CIAA is to promote the Internal Martial Arts (Neijia) of <a href="/internal-arts/taijiquan/">Taijiquan</a>, <a href="/internal-arts/yiquan/">Yiquan</a>, <a href="/internal-arts/baguazhang">Baguazhang</a>, <a href="/internal-arts/xingyiquan">Xingyiquan</a> and the therapeutic exercises of <a href="/internal-arts/qigong">Qigong</a></p>
                        <p class="mt-4">To learn the Internal Martial Arts students benefit from guidance in groups or one-to-one lessons in person or online. 
                        <h2>Current Classes</h2>
                        <ul>
                            <li><a href="/tuition/onsite-classes/">Onsite Classes</a></li>
                            <li><a href="/tuition/zoom-classes/">Zoom Classes (learn Tai Chi from home)</a></li>
                            <li><a href="/tuition/residential-retreats/">Weekend Retreats</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

</Layout>