---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <h2 class="title">Tuition Page</h2>
            <p>To learn the Internal Martial Arts students benefit from guidance in groups or one-to-one lessons. 
                Lessons take place <a href="/contact/">onsite near Reading</a>, or through or in <a href="/tuition/zoom-classes/">zoom lessons</a> 
                that take place numerous times a week.
            </p>
        </div>
    </section>

</Layout>