---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
    
    <section class="section">
        <div class="container">
            <p>Onsite Classes Page</p>
        </div>
    </section>

</Layout>