---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import Breadcrumb from '../../components/Breadcrumb.astro';

let title = "Chinese Internal Arts Association of Great Britain";
let description = "CIAA - Internal Martial Arts (neijia) - Taijiquan, Yiquan, Baguazhang, Xingyiquan & Qigong";
let keywords = "taijiquan, taiji, tai chi, taichi, yiquan,baguazhang, bagua, xingyiquan, xingyi, qigong, chi kung, martial art, self defense, zhan zhuang, tui shou, CIAA, Berkshire, Berks, Reading, Swallowfield";
---
<Layout>

    <Header slot="header-content" title={title} description={description} keywords={keywords}/>    
    
    <section slot="main-content" class="section">
        <div class="container">
            <Breadcrumb />
            <p>Syllabus</p>

            <H3>Chen Taijiquan Syllabus</H3>

<H2>Laojia (Old style) - First Form</H2>

I.<br />
1.  Beginning<br />
2.  Jin Gang Pounds Mortar<br />
3.  Lazily Tying Coat<br />
4.  Six Sealings and Four Closings<br />
5.  Single Whip<br />
6.  Jin Gang Pounds Mortar II<br />
7.  White Crane Spreads its Wings<br />
8.  Move Sideways<br />
9.  Brush Knee<br />
10. Stepping Three Steps<br />
11. Move Sideways<br />
12. Brush Knee<br />
13. Stepping Three Steps<br />
14. Concealed Punch<br />
15. Jin Gang Pounds Mortar III<br />
16. Whip Body Punch<br />
17. Blue Dragon Comes out of Water<br />
18. Push with Both Hands<br />
<br />
II.<br />
19. Fist under Elbow<br />
20. Step Back and Whirl Arms on both Sides<br />
21. White Crane Spreads its Wings<br />
22. Move Sideways<br />
23. Flash the Back<br />
24. Concealed Punch<br />
25. Six Sealings and Four Closings<br />
26. Single Whip<br />
27. Cloud Hands<br />
28. High Pat on Horse<br />
29. Slap (Cross) Right & Left Foot<br />
30. Kick with Heel<br />
31. Stepping Three Steps<br />
32. Punch the Ground<br />
33. Turn Body Round and Double Kick<br />
34. Fist Protecting Heart<br />
35. Tornado Kick<br />
36. Kick with Right Heel<br />
37. Concealed Punch<br />
<br />
III.<br />
38. Small Catching and Hitting<br />
39. Cover Head and Push Mountain<br />
40. Six Sealings and Four Closings<br />
41. Single Whip<br />
42. Forward Trick<br />
43. Backward Trick<br />
44. Part Wild Horse's Mane<br />
45. Six Sealings and Four Closings<br />
46. Single Whip<br />
47. Jade Girl Works at Shuttles<br />
48. Lazily Tying Coat<br />
49. Six Sealings and Four Closings<br />
50. Single Whip<br />
51. Cloud Hands<br />
52. Shake Foot and Stretch Down<br />
53. Golden Cock Stands on Left and Right Foot<br />
<br />
IV.<br />
54. Step Back and Whirl Arms on both Sides<br />
55. White Crane Spreads its Wings<br />
56. Move Sideways<br />
57. Flash the Back<br />
58. Concealed Punch<br />
59. Six Sealings and Four Closings<br />
60. Single Whip<br />
61. Cloud Hands<br />
62. High Pat on Horse<br />
63. Cross Waving Lotus<br />
64. Punch the Crotch<br />
65. White Ape Offers Fruit<br />
66. Six Sealings and Four Closings<br />
67. Single Whip<br />
68. Dragon on the Ground (Tame the Tiger)<br />
69. Step up to Seven Stars<br />
70. Step Back and Mount the Tiger<br />
71. Turn Body and Double Wave Lotus<br />
72. Cannon right Overhead<br />
73. Jin Gang Pounds Mortar IV<br />
74. Closing Form<br />

        </div>
    </section>

</Layout>